@import "../../styles/global";

.Label {
  cursor: default;

  color: var(--dark-contrast-100-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-heigth-base);
}

.Input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border: var(--border-width-small) solid var(--dark-contrast-300-color);
  border-radius: var(--border-radius-small);
  background-color: var(--white-color);

  color: var(--dark-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-heigth-base);

  transition: all 0.3s ease-in-out;

  &__variant {
    &_error {
      background: url('../../assets/error.svg') no-repeat center right 9px;
      border: var(--border-width-small) solid var(--error-color);
    }

    &_success {
      background: url('../../assets/success.svg') no-repeat center right 9px;
      border: var(--border-width-small) solid var(--success-color);
    }
  }

  &::placeholder {
    opacity: 0.55;
    color: var(--dark-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-heigth-base);
  }

  &:enabled:hover {
    border: var(--border-width-small) solid var(--dark-contrast-200-color);
  }

  &:focus {
    border: var(--border-width-small) solid var(--focus-color);
    box-shadow: var(--shadow-focus-highlight);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--dark-contrast-800-color);
  }
}

.Description {
  display: flex;
  align-items: center;
  margin-top: 4px;

  color: var(--dark-contrast-50-color);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-heigth-base);

  &__variant {

    &_error {
        &::before {
          content: "";
          display: inline-block;
          width: 13px; /* Ширина иконки */
          height: 13px; /* Высота иконки */
          background: url('../../assets/error.svg') no-repeat center center; /* Путь к вашей иконке */
          background-size: contain; /* Размер иконки */
          margin-right: 4px; /* Расстояние между иконкой и текстом */
        }
    }

    &_success {

    }
  }
}