:root {
  --font-size-xs: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
}

:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

:root {
  --line-heigth-base: 1.5;
}

